@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root{
  --background-color:#50a2a2;
  --header-font-family: 'Oswald',sans-serif;
  --board-background-color:#df00ff24;
  --body-font-family: 'Roboto',sans-serif;
  --choice-font-family: 'Roboto',serif;
  --comment-text-color:#dd0f0f;
}

body{
  margin: 0;
  padding: 0;
  position: relative;
  min-height:100vh;
  background-color: var(--background-color);
  font-family:var(--body-font-family);
}
#site_wrapper {
  position: relative;
  min-height: 100vh;
  display: block;
}

#site_content {
  min-height: 100vh;
  padding-bottom: 100px;
  overflow: hidden;
  display: block;
  position: relative;
}
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  
}
header h1{
  text-align: center;
  margin-bottom: 2rem;
  color: #0800ff;
  font-size: 6em;
  font-family: var(--header-font-family);
}
.choice{
  margin: auto;
  width:50%;
  text-align: center;
  font-family: var(--choice-font-family);
  font-size: 3em;


}
.settings-options{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 15px 0;
  
}

.select-option{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  flex-wrap: nowrap;  
  white-space: nowrap;
  font-weight: bold;
}

.hud{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:1rem;
}

.comment{
  font-size:2rem;
  color:var(--comment-text-color);
}
.score{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 15px 0;
}
.score p{
  font-size:3rem;
}
.board{
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-body{
  display: grid;
  grid-template-columns: repeat(3,12em);
  grid-template-rows: repeat(3,12em); 
 
}
.fade{
  display: none
}
.board-body button {
  background-color: var(--board-background-color);
  border: 3px solid black;
 }
 
.button-restart{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
#restart {
  margin: auto;
  margin-bottom:1em;
}

.footer{
   
  position:absolute;
 
  left: 0;
  bottom:0;
  padding:10px 0;
  
  font-size: 20px;
   width:100%;
   
  gap: 10px;
  display:flex;
  align-items:center;
  justify-content:center;
  
   
 
}
.footer span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: aliceblue;
 
  font-size: 20px;
  
  
}
.rotate-icon{
  transition: transform 0.3s ease-out;
}
.rotate-link:hover .rotate-icon{
transform: rotate(360deg);
}

/*@media only screen and (max-height:768px){
  .footer{
    
    clear: both;
    position: relative;
   bottom: 0;
    margin-bottom:0px;
  }

}*/